{% extends "base.html" %}

{% block content %}
	<!-- {{ content | safe }} -->
    <div id="allElements">
        <div id="headLogo">
            <div id="firstImage">
                <img class="mitLogo" src="themes/core/static/img/MIT.jpg" />
            </div>
            <div id="secondImage">
                <img class="ttLogo" src="themes/core/static/img/tt.png"/>
            </div>
        </div>
        <br>
        <img class="nullByteLogo" src="themes/core/static/img/NullByteCTF.png" />
        <br>
      
        <style>
            ::webkit-scroll {
                display: none;  
            }

            #allElements {
                display: flexbox;
                text-align: center;
            }
            body {
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }

            .nullByteLogo {
                position: relative;
                max-width: 500px;
                top: 5vh;
            }
            #headLogo {
                width: 100vw;
                display: flex;
                flex-direction: row;
            }
            #firstImage {
                left: 3vw;
            }
            #secondImage {
                margin-right: 3px !important;
                margin-left: 42vw;
            }
            .mitLogo {
                top: 12vh;
                left: 2px !important;
                margin-left: ;
                max-width: 600px;
            }

            .ttLogo {
                max-height: 150px;
                left: 3vw !important;
            }


        </style>
    </div>
{% endblock %}
